.content {
    width: 500px;
    margin: auto;
    border: thin solid black;
    padding: 50px;

}

a {
    color: #0000ee;
}

img {
    width: 500px;
}

.thumbnail {
    border: thin solid black;
    display: inline-block;
    margin: 25px;
    padding: 10px;
}

.thumbnail img {
    width: 100px;
    margin: 25px;
}